<div class="row justify-content-center">
    <row class="col-lg-12">
      <h1>Add <%= @super.name %> to your team</h1>
      <%= simple_form_for [@super, Booking.new] do |f| %>
        <%= f.button :submit, 'Confirm', class: "btn-super-confirm" %>
      <% end %>
    </row>
</div>
