<div class="row justify-content-center">
  <row class="col-lg-4">
    <%= simple_form_for [@booking, @super] do |f| %>
      <%= f.association :super %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </row>
</div>
