<div class="container">
  <div class="cards">

      <% @supers.each do |superhero| %>


            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path superhero.photo.key, height: 200, width: 300, crop: :fill %>')">
              <div class="card-description">
                <h2 class="title-box"><%= superhero.name %></h2>
              </div>
              <div class="link-box">
                <%= link_to "Show Super", super_path(superhero.id), class: 'card-link' %>
              </div>
            </div>


      <% end %>

  </div>
</div>
