<div class="container">
  <h1> <%= @super.name %></h1>

    <p><%= @super.location %></p>
    <% if @super.good == true%>
        <p>Hero</p>
      <% else %>
        <p>Villain</p>
      <% end %>
</div>
