.btn-super-edits {
}

.btn-super-confirm {
  border: 4px solid black;
  font-size: 20px;
  background-color: #D6130A;
  transform: skew(-10deg);
  padding: 8px 16px;
  box-shadow: 8px 8px #888888;
  font-family: $comic-font;
  &:hover {
    box-shadow: 10px 10px #888888;
    padding: 10px 18px;
  }
}

.btn-super-search {
  border: 2px solid black;
  font-size: 16px;
  background-color: #D6130A;
  transform: skew(-10deg);
  padding: 2px 8px;
  box-shadow: 8px 8px #888888;
  font-family: $comic-font;
  margin-left: 16px;
  margin-bottom: 16px;
  &:hover {
    box-shadow: 10px 10px #888888;
    padding: 3px 9px;
  }
}

.btn-super-nav {
  border: 4px solid black;
  font-size: 16px;
  background-color: white;
  transform: skew(-10deg);
  padding: 4px 8px;
  box-shadow: 8px 8px #3E4442;
  font-family: $comic-font;
  margin-right: 16px;
  z-index: 10;
  &:hover {
    box-shadow: 10px 10px #3E4442;
    padding: 6px 10px;
    background-color: #D6130A;
  }
}

.btn-info {
  position: absolute;
  bottom: -2px;
  left: -2px;
  font-size: 16px;
  background-color: white;
  border: solid black 2px;
}

.btn-primary {
  font-size: 16px;
}
