.form_container {
  text-align: center;
  border: 8px solid black;
  margin-top: 40px;
  padding: 40px;
  font-family: $comic-font;
  font-size: 16px;
  h2 {
    font-family: $super-font;
  }
  .btn-super-confirm {
    margin-top: 40px;
  }
}

.form-actions{
  font-family: $comic-font;
  font-size: 20px;
}

.collection_radio_buttons {
  margin-right: 16px;
}

.form-group {
  .text {
  border: 1px solid #ced4da;
  }
}

.form-control-search {
  height: 30px;
  width: 300px;
  border: 2px solid black;
  transform: skew(-10deg);
}
