.form_container {
  padding-top: 40px;
  text-align: center;
  border: 8px solid black;
  height: 300px;
  width: 400px;
  margin-top: 40px;
  h2 {
    font-family: $super-font;
  }
  .btn-super-confirm {
    margin-top: 40px;
  }
}
