.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-super-bnb {
  text-align: right;
  justify-content: space-between;
  background: $super-blue;
  height: 136px;
  border-bottom: 8px solid black;
  position: relative;
}

.nav-item {
  z-index: 11
}

.dropdown-menu {
  font-size: 16px;
  background-color: transparent;
  margin-top: 89px;
  right: 97px;
  width: 200px;
  border: 0;
}


.navbar-super-bnb .navbar-collapse {
  flex-grow: 0;
}

.navbar-super-bnb .navbar-brand img {
  width: 40px;
}

.dropdown-toggle {
  width: 72px;
  position: absolute;
  right: 30px;
  top: 31px;
  border: 6px solid black;
}

a {
  color: black;
  font-size: 16px;
}

.navbar {
  position: relative;
}

.super-title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -4px;
  text-align: center;
  font-size: 114px;
  letter-spacing: 12px;
  color: #D6130A;
  text-shadow: 4px 6px black;
}
