.user-rosters {

}

.hero-individual {
  height: 200px;
  margin: 15px 80px;
  box-shadow: 5px -1px 19px -4px #6B6B6B;
}

.hero-description {
  overflow: scroll;
  height: 170px;
  padding: 8px;
}

.user-profile-info {
  margin: 30px;
}

.hero-profile {
  width: 49vw;
}

.user-center {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lineup-subheader {
  margin: 0px 80px;
  text-align: left;
  background-color: #d61409;
  color: white;
  border: 4px solid black;
  font-family: "Bangers";
  padding: 8px;
}

.lineup-subheader-evil {
  margin: 0px 80px;
  text-align: right;
  background-color: #76367D;
  color: white;
  border: 4px solid black;
  font-family: "Bangers";
  padding: 8px;
}

.main-header {
  text-align: center;
  margin-bottom: 32px;
}

.profile-image {
  border: solid black 5px;
}

.conten-box > h2 {
margin-left: 14px;
font-family: "Bangers";
font-size: 20px;
}
