.user-rosters {

}

.hero-individual {
  height: 200px;
  margin: 15px 80px;
  box-shadow: 5px -1px 19px -4px #6B6B6B;
}

.hero-description {
  overflow: scroll;
  height: 170px;
}

.user-profile-info {
  margin: 30px;
}

.hero-profile {
  width: 49vw;
}

.user-center {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lineup-subheader {
  margin: 0px 80px;
}

.main-header {
  text-align: center;
}